{
  "singleQuote": true,
  "trailingComma": "es5",
  "semi": false,
  "svelteSortOrder": "scripts-styles-markup",
  "svelteStrictMode": false,
  "svelteBracketNewLine": true,
  "svelteAllowShorthand": true,
  "printWidth": 80,
  "plugins": ["prettier-plugin-svelte"]
}
